# macOS
.DS_Store

# Node
node_modules/
dist/
.vite/

# Python
backend/.venv/
__pycache__/
*.pyc
.env

node_modules/
frontend/node_modules/
dist/
.vite/
.env

backend/.venv/
backend/.venv/
backend/.env
__pycache__/
*.pyc
